# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/.gradle/                # Gradle 缓存
/android/local.properties       # 本地 SDK 路径
/android/app/build/             # app 模块的所有 build 目录

# iOS / Xcode
/ios/Pods/                      # CocoaPods 依赖
/ios/Runner.xcworkspace/
**/DerivedData/                 # Xcode 派生数据
*.xcuserstate
+xcuserdata/

# Flutter 插件生成的文件
/.packages
/.metadata
